<!DOCTYPE html>
<html>
<head>
    <!-- @TODO Change 'User Profile' to be the username -->
    <title>User Profile</title>
</head>

<body>

<table>
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Password Salt</th>
        <th>Password Hash</th>
        <th>Created</th>
        <th>Updated</th>
    </tr>
    <tr>
        <td><%= display_name %></td>
        <td><%= login %></td>
        <td><%= password_salt %></td>
        <td><%= password_hash %></td>
        <td><%= created_at %></td>
        <td><%= updated_at %></td>
    </tr>
</table>

</body>
</html>
